[Unit]
Description=Azurite storage emulator
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=1
Restart=On-Error
ExecStart=/home/io/devel/scripts/azurite-docker-service.sh
ExecStop=/usr/bin/docker stop -t 2 azurite

[Install]
WantedBy=default.target