davmail.server=true
davmail.enableEws=auto
davmail.url=https://outlook.office365.com/EWS/Exchange.asmx
davmail.caldavPort=1081
davmail.imapPort=1144
davmail.smtpPort=1026
davmail.ldapPort=1390
davmail.enableProxy=false
davmail.useSystemProxies=false
davmail.allowRemote=true
davmail.ssl.nosecurecaldav=false
davmail.ssl.nosecureimap=false
davmail.ssl.nosecuresmtp=false
davmail.disableUpdateCheck=true
davmail.enableKeepalive=false
davmail.folderSizeLimit=0
davmail.caldavPastDelay=90
davmail.forceActiveSyncUpdate=false
davmail.imapAutoExpunge=true
davmail.smtpSaveInSent=false
davmail.logFilePath=/home/iurii.ovcharenko/work/davmail/davmail-zodiacsystems.log
davmail.logFileSize=1MB
log4j.logger.davmail=WARN
log4j.logger.httpclient.wire=WARN
log4j.logger.org.apache.commons.httpclient=WARN
log4j.rootLogger=WARN
davmail.disableGuiNotifications=false
davmail.showStartupBanner=true
davmail.enableKerberos=false
